;; Figure out how to query linked objects
{:objects
 {:Account
  {:description "An Account registered to the mailman service"
   :fields {:id {:type Int
                 :description "The unique ID of the account"}
            :name {:type String
                   :description "The account name"}}}

  :AccountService
  {:description "Services registered to an acocunt"
   :fields {:id          {:type (non-null Int)}
            :name        {:type (non-null String)}
            :account_id  {:type        Int
                          :description "The id of the account, that the service is connected with."}
            :category    {:type        String
                          :description "The categorization of the service"}}}
  :Service
  {:description "Services known to the app"
   :fields {:id {:type Int}
            :name {:type String}
            :domain {:type String}
            :category {:type String}
            :changeLink {:type String}
            :deletionLink {:type String}}}

  :Query
  {:fields
   {:account {:type :Account
              :description "Acces a registered Account by its unique id, if it exists"
              :args {:id {:type Int}}}
    :service {:type :Service
              :description "Access a known service by its unique id, if it exists"
              :args {:id {:type Int}}}
    :accountServiceByID {:type        :AccountService
                         :description "Access a Account_Service by its unique id, if it exists."
                         :args
                         {:id {:type Int}}}

    :accountServiceByName {:type :AccountService
                           :description "Access an Account_Service by it's name."
                           :args {:name {:type String}}}}}}}
