/* some style */
/*  body {
  background-image:
      radial-gradient(#212121 20%, transparent 20%),
      radial-gradient(#5C4742 20%, transparent 20%);
  background-color: #C4BBAF;
  background-position: 0 0, 100px 100px;
  background-size: 200px 200px;
  height: 200px;
  width: 100%;
} */
